@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}

.bg {
  background: url('cyberpunk.jpg') no-repeat center center/cover;
  top: -45px;
  left: -45px;
  width: calc(100vw + 90px);
  height: calc(100vh + 90px);
  filter: blur(30px);
  position: absolute;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}
