@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}

.bg {
  background: url('./img/cyberpunk.jpg') no-repeat center;
  top: -45px;
  left: -45px;
  width: calc(100vw + 90px);
  height: calc(100vh + 90px);
  filter: blur(30px);
  position: absolute;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 81px;
}

@media (max-width: 1620px) {
  body {
    background-color: #f3ee00;
  }

  .bg {
    background-size: contain;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .loading-text {
    font-size: 48px;
  }
}
